<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiong.article.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiong.article.entity.Article">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="theme_id" property="themeId" />
        <result column="title" property="title" />
        <result column="img_src" property="imgSrc" />
        <result column="content" property="content" />
        <result column="views" property="views" />
        <result column="favour" property="favour" />
        <result column="disfavour" property="disfavour" />
        <result column="reward" property="reward" />
        <result column="comment" property="comment" />
        <result column="publish" property="publish" />
        <result column="is_top" property="isTop" />
        <result column="is_deleted" property="isDeleted" />
        <result column="gmt_created" property="gmtCreated" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

<!--    <insert id="addArticle" parameterType="com.xiong.article.entity.Article">-->
<!--        insert into tb_article(id, user_id, theme_id, title, content, gmt_created, gmt_modified)-->
<!--            values (#{id}, #{userId}, #{themeId}, #{title}, #{content}, #{gmtCreated}, #{gmtModified})-->
<!--    </insert>-->

<!--    <update id="updateArticleById" parameterType="com.xiong.article.entity.Article">-->
<!--        update tb_article set-->
<!--            <if test="userId != null">-->
<!--                user_id=#{userId},-->
<!--            </if>-->
<!--            <if test="themeId != null">-->
<!--                theme_id=#{themeId},-->
<!--            </if>-->
<!--            <if test="title != null">-->
<!--                title=#{title},-->
<!--            </if>-->
<!--            <if test="imgSrc != null">-->
<!--                img_src=#{imgSrc},-->
<!--            </if>-->
<!--            <if test="content != null">-->
<!--                content=#{content},-->
<!--            </if>-->
<!--            <if test="views != null">-->
<!--                views=#{views},-->
<!--            </if>-->
<!--            <if test="favour != null">-->
<!--                favour=#{favour},-->
<!--            </if>-->
<!--            <if test="disfavour != null">-->
<!--                disfavour=#{disfavour},-->
<!--            </if>-->
<!--            <if test="reward != null">-->
<!--                reward=#{reward},-->
<!--            </if>-->
<!--            <if test="comment != null">-->
<!--                comment=#{comment},-->
<!--            </if>-->
<!--            <if test="publish != null">-->
<!--                publish=#{publish},-->
<!--            </if>-->
<!--            <if test="isTop != null">-->
<!--                is_top=#{isTop}-->
<!--            </if>-->
<!--        where id = #{id}-->
<!--    </update>-->

<!--    <delete id="deleteArticleById">-->
<!--        delete from tb_article where id = #{id}-->
<!--    </delete>-->

<!--    <select id="findAllArticle" resultMap="BaseResultMap">-->
<!--        select * from tb_article-->
<!--    </select>-->




</mapper>
