<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiong.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiong.user.entity.User">
        <id column="id" property="id" />
        <result column="nickname" property="nickname" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="avatar" property="avatar" />
        <result column="remark" property="remark" />
        <result column="gender" property="gender" />
        <result column="enabled" property="enabled" />
        <result column="not_expired" property="notExpired" />
        <result column="account_not_locked" property="accountNotLocked" />
        <result column="credentials_not_expired" property="credentialsNotExpired" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="gmt_created" property="gmtCreated" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>
    <insert id="register">
        insert into tb_user (id, nickname, username, password, gmt_created, gmt_modified)
        values (#{id}, #{nickname}, #{username}, #{password}, #{gmtCreated}, #{gmtModified})
    </insert>

    <!--根据用户ID查找某用户所有角色-->
    <select id="findAllRolesByUserId" resultType="com.xiong.user.entity.Role">
        select r.role_name, r.role_description from tb_role as r, tb_user as u,
            tb_user_role_relation as ur where ur.role_id = r.id and ur.user_id = #{userId}
    </select>

</mapper>
